

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style */
.text-primary{
    color: #FD6E0A;
}

.dark-2{
    color: #474747;
}

.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
}

/* Header */

.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* Nav Bar */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 230px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul li{
    list-style: none;
    margin-right: 51px;
}

nav li a{
    text-decoration: none;
    font-size: 20px;
}

nav ul{
    display: flex;
    align-items: center;
}

/* Banner */

.banner-greetings{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0;
}

.banner-titel{
    font-size: 80px;
    font-weight: bold;
    margin-top: 0;
    
}

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}

.banner-profile-pic{
    width: 580px;
}

.banner-content{
    max-width: 580px;
    
}